## Lesson 5 Overview

1. Pandas

## Let's load today's lesson!

### Open Azure Notebooks library 

Go to https://notebooks.azure.com -> Sign in if needed -> Select **python-intro**

### Update lesson file to latest version

Select **New** -> **From URL** -> input https://raw.githubusercontent.com/kelvnt/python-intro/master/lessons/Lesson5.ipynb (URL is available in **Lesson5.ipynb**) -> Click outside input then select **Upload** (overwrite if needed)

### Open Jupyter lab

From your browser's bookmark or **Run** -> Change browser URL path from **/nb/tree** to **/nb/lab**

Select **Lesson5.ipynb**

## Let's talk about Pandas

What *is* Pandas? [Pandas](https://pandas.pydata.org/) is an open source library providing high-performance, easy-to-use data structures and data analysis tools for Python. Though you might have been thinking about adorable black and white pandas, this name was actually derived from the term *"panel data"*, an econometrics term for data sets that include observations over multiple time periods for the same individuals.

Pandas is often used together with [Numpy](http://www.numpy.org/) and [scikit-learn](http://scikit-learn.org/stable/index.html).

In [ ]:
# let's import pandas library
import pandas as pd

### Pandas Data structure - Series

A Series is a **one-dimensional** array with labeled axes.

In [ ]:
# read data into series where index starts from 0
fruits = pd.Series(["Apple", "Banana", "Mango"])
fruits[2]    # returns 'Mango'

In [ ]:
# You can pass in index to create your own index
fruits = pd.Series(["Apple", "Banana", "Mango"], index=['a', 'b', 'm'])
fruits['m']  # returns 'Mango'

In [ ]:
# Do this again, this time as a dictionary
fruits = pd.Series({'a': "Apple", 'b': "Banana", 'm': "Mango"})
fruits['m']  # returns 'Mango'

### Pandas Data structure - DataFrame

A DataFrame is a **2-dimensional** table with labeled axes. It acts like a dict-like container for Series objects.

In [ ]:
# Let's build a DataFrame of fruit inventory across all floors
fruit_inventory = {
    "fruit": ["Apple", "Banana", "Mango"],
    "fruit_count_2F": [75, 150, 250],
    "fruit_count_6F": [80, 120, 150],
    "fruit_count_8F": [50, 100, 200],
    "fruit_count_9F": [100, 200, 350],    
  }
df1 = pd.DataFrame(fruit_inventory)
df1

In [ ]:
# You get a Series if you access a DataFrame's index
df1.fruit  # you can also use df1["fruit"]

In [ ]:
# let's create a second dataframe
fruit_property = {
    "fruit": ["Apple", "Banana", "Mango", "Papaya"],
    "fruit_color": ["red", "yellow", "yellow", "orange"],
  }
df2 = pd.DataFrame(fruit_property)
df2

#### Merging DataFrames

In [ ]:
# Left merge DataFrames df1 and df2 using the 'fruit' column as key 
# This only retains rows which exist in df1

fruit_list1 = df1.merge(df2, on='fruit', how='left')
fruit_list1

In [ ]:
# Outer merge DataFrames df1 and df2 using the 'fruit' column as key 
# All rows are kept, and empty values are filled with NaN (Not a Number)

fruit_list2 = df1.merge(df2, on="fruit", how="outer")
fruit_list2

#### Removing NaN and casting numbers to integer

In [ ]:
# Let's replace NaN value in fruit count columns with 0
fruit_list2 = fruit_list2.fillna(0)

# Let's remove the decimal places that appeared in fruit count after merging DataFrames
fruit_list2 = fruit_list2.apply(pd.to_numeric, downcast='integer', errors='ignore')

fruit_list2

#### Summing by row in DataFrame

In [ ]:
# Now let's create a column to sum the total fruit count across all floors

# data.loc[<row selection>, <column selection>]
# In this case, we're applying across all rows for a selected column range
# axis=1 means row-wise, while axis=0 means column-wise

fruit_list2['fruit_count_total']= fruit_list2.loc[:, 'fruit_count_2F':'fruit_count_9F'].sum(axis=1)
fruit_list2

#### Summing by column in DataFrame

In [ ]:
# Let's count all the fruits on each floor

# First, create a list of column names which include 'F' 
columns = [column for column in list(fruit_list2) if 'F' in column]

# Next, sum within each column for the column names which include 'F'
fruit_count_floor_total = fruit_list2[columns].sum()
fruit_count_floor_total

#### Average

In [ ]:
# Let's find out the average fruit count for each floor

fruit_list2['fruit_count_avg']= fruit_list2.loc[:, 'fruit_count_2F':'fruit_count_9F'].mean(axis=1).round(0)
fruit_list2.sort_values('fruit_count_avg', ascending=False)

#### Sorting rows in DataFrame

In [ ]:
# Great! Now let's sort the fruit count total in descending order
fruit_list2.sort_values('fruit_count_total', ascending=False)

In [ ]:
# sort and display in descending order, only fruits with count exceeding 500 

fruit_list2[fruit_list2['fruit_count_total']>500].sort_values('fruit_count_total', ascending=False)

#### Retrieving certain records in DataFrame

In [ ]:
# Let's retrieve rows containing only yellow fruits
fruit_list2.loc[fruit_list2['fruit_color'] == "yellow"]

In [ ]:
# Get unique fruit colors
print(fruit_list2['fruit_color'].unique())

#### Grouping and summing in DataFrames

In [ ]:
# Group fruit count by fruit color
fruit_list2.groupby('fruit_color').sum()

#### Adding and deleting columns in DataFrames

In [ ]:
# Add a new column 'in_stock' based on function applied to column 'fruit_count_total'
# 'in_stock' = True only if fruit_count_total > 0

fruit_list2['in_stock'] = fruit_list2['fruit_count_total'].apply(lambda x: True if x > 0 else False)
fruit_list2

In [ ]:
# Let's delete 'in_stock' column
del fruit_list2['in_stock']
fruit_list2

### Now it's your turn to use Pandas to explore the Titanic data

In [ ]:
# Ready? Let's read the Biggest Loser csv data into a dataframe 

df = pd.read_csv("../data/titanic.csv")

#### Retrieve top records in DataFrame

In [ ]:
df.head(5)

#### Retrieve bottom records in DataFrame

In [ ]:
# That's better. How about the bottom 3 rows?
df.tail(3)

### Now you have everything you need to code the following by yourselves!

In [ ]:
# Your turn now! Let's print unique ports of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

In [ ]:
# Try retrieving data for passengers who embarked from Southampton

In [ ]:
# Find the overall number of males and females on Titanic

In [ ]:
# Now add a column called "family_members" which takes the sum of the number of siblings/spouse & parents/children

In [ ]:
# delete the columns SibSp & Parch

In [ ]:
# sort and display in descending order, passengers with the most family members on the ship

In [ ]:
# calculate the overall survival rate

In [ ]:
# calculate the survival rate by ticket class

In [ ]:
# calculate the survival rate by ticket class and by sex

In [ ]:
# calculate the median fare by ticket class, for male passengers

In [ ]:
# calculate the survival rate by port of embarkation, for passengers aged 30 and above